{% extends "app_layout.html" %}
{% block app_layout %}
<div class="container-fluid bills">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="{{ url_for('bills.bill_index') }}">Bills</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Add Bill</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ url_for('bills.add_bill', category='subscription') }}">Subscription</a>
            <a class="dropdown-item" href="{{ url_for('bills.add_bill', category='rentMortgage') }}">Rent/Mortgage</a>
            <a class="dropdown-item" href="{{ url_for('bills.add_bill', category='utility') }}">Utility</a>
            <a class="dropdown-item" href="{{ url_for('bills.add_bill', category='pmtPlan') }}">Payment Plan</a>
            <a class="dropdown-item" href="{{ url_for('bills.add_bill', category='other') }}">Other</a>
          </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('bills.past_bills') }}">Past Bills</a>
      </li>
    </ul>
  </div>
</div>
  <div class="card-body bill-card-content">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Amount</th>
          <th scope="col">Due</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
     {% for bill in bills %}
      <tr>
        <td>{{ bill.name }}</td>
        <td>{{ bill.amount }}</td>
        <td>{{ bill.due.strftime('%d-%B-%Y') }}</td>
        <td>
          <form action="{{ url_for('bills.paid', bill_id=bill.id) }}" method="post">
            <input class="btn btn-secondary" type="submit" value="Paid">
          </form>
        </td>
        <td class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" name="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Edit</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <form action="{{ url_for('bills.delete_bill', bill_id=bill.id) }}" method="post">
              <input class="dropdown-item" type ="submit" value="Delete">
            </form>
            <a class="dropdown-item" href="{{ url_for('bills.update_bill', bill_id=bill.id) }}">Update</a>
          </div>
        </td>
      </tr>
    {% endfor %}
    </table>
  </div>



{% endblock %}
