.index-body {
    height: 100%;
    text-align: center;
    background: url('https://live.staticflickr.com/65535/52723210737_3977be4e12_b.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.welcome {
  margin-top: 15%;
  padding: 5em;
}

.dash-welcome {
  height: 30em;
  text-align: center;
  margin-right: 2em;
}

.bills {
  margin-top: 2em;
}

body {
  background: white;
  font-family: 'Ubuntu', sans-serif;
}

.center-text {
  text-align: center;
}

.cover {
  padding: 0 1.5rem;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.white-back {
  background-color: #fff;
}

.top-margin {
  margin-top: 2em;
}

.navbar {
  background-color: #08415c;
}
